<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-model and checkbox</title>
</head>
<body>
    <script src="../vue.js"></script>

    <div id="app">
    <!-- 1. checkbox 多选框 -->
        <input type="checkbox" id="Jack" value="Jack" v-model="chooseName">
        <label for="Jack">Jack</label><br>
        <input type="checkbox" id="John" value="John" v-model="chooseName">
        <label for="John">John</label><br>
        <input type="checkbox" id="Mike" value="Mike" v-model="chooseName">
        <label for="Mike">Mike</label><br>
        <span>Checked name: {{chooseName}}</span><br><br>

    <!-- 2. checkbox 单选框 -->
        <input type="checkbox" id="agree" v-model="isAgree">
        <label for="agree">agree</label><br>
        <span>agree or not: {{isAgree}}</span><br>
        <button :disabled="!isAgree">Next</button>
    </div>

    <script>
        const app = new Vue({
            el: "#app",
            data: {
                // checkbox 复选框
                chooseName: [],
                // checkbox 单选框
                isAgree: false,
            },
        });
    </script>
</body>
</html>