<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-model and radio</title>
</head>
<body>
    <script src="../vue.js"></script>

    <div id="app">
        <input type="radio" id="male" value="male" v-model="sex">
        <label for="male">male</label><br>
        <input type="radio" id="female" value="female" v-model="sex">
        <label for="female">female</label><br>
        <span>your gender is:{{sex}}</span>
    </div>

    <script>
        const app = new Vue({
            el: "#app",
            data: {
                sex: "male",
            }
        });
    </script>
</body>
</html>